@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-feature-settings: "liga" 1, "calt" 1;
  }

  * {
    @apply border-slate-200;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
